

html {

}

::-webkit-scrollbar {
  display: none;
}



body {
  
 
}

.empty {
  display:block;
  position: absolute;
  background: #b1b1b1;
  z-index: 1000;
  margin: 0px;
  height: 100%;
  width: 100%;
  }

  .emtycover{
  display: block;
  position: absolute;
  z-index: 1001;
  }




.header{
  color:#ababab;
  font-weight: normal;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  bottom: 0;
  z-index: 1001;

}
